
<body>

        <div class='header'>
        <h1>Find your favorite recipe!</h1>
      </div>

         <div class='form'>
        <form method="post" action="/recipe_search">
          <input class="search" placeholder="Search..."/>
              <button class='btn'>FIND</button>
        </form>
      </div>


</body>
