
<body>

        <div class='header'>
        <h1>Find your favorite recipe!</h1>
      </div>

      <div class='form'>
        <form>
          <input class="search" placeholder="Search..."></input> 
              <button class='btn'>FIND</button>
        </form>
      </div>

<div class="container">
<div class="recipe">

<% @recipe.each do |item| %>
<p class="label"> <%= item["recipe"]["label"] %> </p>
<img src="<%= item["recipe"]["image"] %>" alt="recipe" width=300px/>
<%end%>
</div>
</div>


</body>
