
<body>


        <div class='header'>
        <h1>Find your favorite recipe!</h1>
      </div>

      <div class='form'>
        <form>
          <input class="search" placeholder="Search..."></input> 
              <button class='btn'>FIND</button>
        </form>
      </div>






</body>
