
<body>

        <div class='header'>
        <h1>Find your favorite recipe!</h1>
      </div>

         <div class='form'>
        <form method="post" action="/recipe_search">
          <input class="search" name="search_term" id="search_term" type="text"/>
              <button class='find'>FIND</button>
        </form>
      </div>








</body>
